<table id="example" class="display cell-border" cellspacing="0" width="100%" datatable [dtOptions]="dtOptions">

    <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Search Last name</th>
        </tr>
        <tr>
            <th class="filterhead">ID</th>
            <th class="filterhead">First name</th>
            <th class="filterhead">Last name</th>
            <th class="filterhead">Search Last name</th>
        </tr>
    </thead>
</table>