<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
        <tr>
            <th>Account Number SAP</th>
            <th>Account Name SAP</th>
            <th>Account Definition</th>
        </tr>
        <tr>
            <th><input type="search" placeholder="Account Number SAP" name="NumberSAP" [(ngModel)]="searchText1" /></th>
            <th><input type="search" placeholder="Account Name SAP" name="NameSAP" [(ngModel)]="searchText2" /></th>
            <th><input type="search" placeholder="Account Definition" name="Definition" [(ngModel)]="searchText3" /></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getAll">
            <td [innerHTML]="item.sapaccountnumber | highlight:searchText1">{{ item.sapaccountnumber }}</td>
            <td [innerHtml]="item.sapaccountname | highlight:searchText2">{{ item.sapaccountname }}</td>
            <td [innerHtml]="item.accountdefinition | highlight:searchText3">{{ item.accountdefinition }}</td>
        </tr>
    </tbody>
</table>