<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
        <tr>
            <th>Account Number SAP</th>
            <th>Account Name SAP</th>
            <th>Account Definition</th>
        </tr>
        <tr>
            <th><input type="search" placeholder="Account Number SAP" name="NumberSAP" [(ngModel)]="searchText1" /></th>
            <th><input type="search" placeholder="Account Name SAP" name="NameSAP" [(ngModel)]="searchText2" /></th>
            <th><input type="search" placeholder="Account Definition" name="Definition" [(ngModel)]="searchText3" /></th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let item of getAll" >
                <td [innerHtml]="item.sapaccountnumber | highlighter:searchText1:'partial'">{{ item.sapaccountnumber }}</td>
                <td [innerHtml]="item.sapaccountname | highlighter:searchText2:'partial'">{{ item.sapaccountname }}</td>
                <td [innerHtml]="item.accountdefinition | highlighter:searchText3:'partial'">{{ item.accountdefinition }}</td>
            </tr>
    </tbody>
</table>